<template>
  <article class="post">
    <header class="post-header">
      <div class="post-title">
        <h1>{{post.title}}</h1>
        <nuxt-link to="/">
          <el-button round>
            <i class="el-icon-back" style="font-size: large"></i>
          </el-button>
        </nuxt-link>
      </div>
      <div class="post-info">
        <small>
          <i class="el-icon-time"></i>
          {{ new Date(post.date).toLocaleString() }}
        </small>
        <small>
          <i class="el-icon-view">
            {{post.views}}
          </i>
        </small>
      </div>
      <div class="post-img">

        <img
          :src="`/${post.imageURL}`"
          class="post-img"
        />
      </div>
    </header>
    <main class="main_text">
      <vue-markdown class="main_text_mark">{{post.text}}</vue-markdown>
    </main>
    <footer>
      <app-comment-form
        v-if="canAddComment"
        @created="createCommentHandler"
        :postId="post._id"
      />
      <div class="comments" v-if="post.comments.length">
        <AppComment v-for="comment in post.comments" :key="comment" :comment="comment"/>

      </div>
      <div class="text-center" v-else>Комментариев нет</div>
    </footer>
  </article>
</template>

<script>
  import AppComment from '../../components/main/Comment'
  import AppCommentForm from '../../components/main/CommentForm'

  export default {

    async asyncData({store, params}) {
      const post = await store.dispatch('post/fetchPostById', params.id)
      await store.dispatch('post/addView', post)
      return {post}
    },
    head() {
      return {
        title: this.post.title
      }
    },
    data() {
      return {
        canAddComment: true
      }
    },
    methods: {
      createCommentHandler(comment) {
        this.post.comments.unshift(comment)
      },
    },
    components: {
      AppComment,
      AppCommentForm
    },
    validate({params}) {
      return Boolean(params.id)
    }
  }
</script>
<style lang="scss" scoped>
  .main_text {
    border-radius: 4px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);*/
    margin: 10px 0 12px 0px;
    background-color: var(--bg-nav) !important;
    box-shadow: 0 2px 12px 0 var(--btn) !important;

  }

  .main_text_mark {
    padding: 5px 5px 6px 16px;
  }

  .post {
    max-width: 600px;
    margin: 0 auto;
  }

  .post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .post-img img {
    width: 100%;
    height: auto;
  }

  .post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  /*.el-card {*/
  /*  transform: scale(1.00)!important;*/
  /*}*/
  .el-card  {
      transform: scale(1.00)!important;
    box-shadow: 0 2px 12px 0 var(--btn) !important;
  }



</style>
