<template>
  <div class="commentScreen">
    <h3>Все комментарии</h3>
    <el-input
      clearable
      placeholder="Поле для поиска"
      v-model="filterText">
    </el-input>
    <el-tree
      ref="tree"
      highlight-current
      show-checkbox
      node-key="id"
      :default-expand-all="true"
      :data="data"
      :filter-node-method="filterNode"
      :props="defaultProps">
        <span slot-scope="{data}">
        <span>{{ data.label }}</span>
      </span>
    </el-tree>
    <el-button type="success" round @click="resetChecked">Сбросить</el-button>
    <el-popconfirm
      confirmButtonText='ДА'
      cancelButtonText='Нет, спасибо'
      icon="el-icon-info"
      iconColor="red"
      title="Вы желаете удалить?"
      @onConfirm="getCheckedKeys"
      @onCancel="resetChecked"
    >
      <el-button type="warning" round slot="reference">Удалить</el-button>
    </el-popconfirm>

  </div>
</template>
<script>
  export default {
    layout: 'admin',
    middleware: ['admin-auth'],
    data() {
      return {
        comments: [],
        posts: [],
        filterText: '',
        data: [],
        defaultProps: {
          children: 'children',
          label: 'label'
        }
      };
    },
    async asyncData({store}) {
      let posts = await store.dispatch('post/fetchAdminPosts')
      let comments = await store.dispatch('comment/fetchComments')
      return {posts, comments}
    },
    head() {
      return {
        title: 'Все посты'
      }
    },
    mounted() {
      this.data = this.getCommentsList()
    },
    watch: {
      filterText(val) {
        this.$refs.tree.filter(val);
      },
    },
    methods: {
      filterNode(value, data) {
        if (!value) return true;
        return data.label.indexOf(value) !== -1;
      },
      resetChecked() {
        this.data = this.getCommentsList()
      },
      async getCheckedKeys() {
        let ids = this.$refs.tree.getCheckedKeys()
        ids = ids.filter(el => el != null);
        try {
          let result = await this.$store.dispatch('comment/delete', ids)
          this.posts = await this.$axios.$get('/api/post/admin')
          this.data = this.getCommentsList()
          this.$notify({title: result.massage, type: 'success'});
        } catch (e) {
          console.log(e)
        }
      },
      open(id) {
        this.$router.push('/admin/post/' + id)
      },
      getComments(arr) {
        let comments = this.comments
        let outArr = []
        arr.forEach(value => {
          let obj = comments.find(o => o._id === value);
          if (obj !== undefined) outArr.push({id: obj._id, label: obj.name + ': ' + obj.text})
        })
        return outArr
      },
      getCommentsList() {
        let list = []
        let i = 0
        let data = this.posts
        while (i < data.length) {
          if (data[i].comments.length > 0) {
            list[i] = {
              'label': data[i].title,
              'children': this.getComments(data[i].comments)
            }
          }
          i++
        }
        let resetList = list.filter(() => {
          return true;
        });
        return resetList
      },
    }
  }
</script>
<style lang="scss" scoped>
  .el-card {
    margin-bottom: 1rem;
  }

  .el-tree {
    margin: 1.5rem 0;

    color: var(--color) !important;
    background: var(--bg) !important;
    /*background: #FFF;*/
    /*color: #606266;*/
  }



  .commentScreen {

    width: 500px
  }


  @media screen and (max-width: 600px) {
    .commentScreen {

      width: 100%
    }
    td:nth-child(2n) {
      padding-left: 5px;
    }
    .el-button--mini {
      padding: 7px 8px;
    }
  }


</style>
