<template>
  <el-form
    shadow
    @submit.native.prevent="onSubmit"
    :model="controls"
    :rules="rules"
    ref="form"
    class="post"
  >
    <h3>Создать новый пост</h3>
    <el-form-item label="Введите навзание поста" prop="title"
    >
      <el-input v-model="controls.title"
                resize="none"
      ></el-input>
    </el-form-item>
    <el-form-item label="Текст в формате .md или .html" prop="textarea"
    >
      <el-input v-model="controls.text"
                type="textarea"
                resize="none"
                :rows="10"
      ></el-input>
    </el-form-item>

    <el-dialog
      title="Предпросмотр"
      :visible.sync="centerDialogVisible"
      center
    >
      <div :key="controls.text">
        <vue-markdown>{{controls.text}}</vue-markdown>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="centerDialogVisible = false">Продолжить</el-button>
      </span>
    </el-dialog>
    <el-upload
      class="uploader"
      drag
      ref="upload"
      list-type="picture"
      :on-preview="handlePreview"
      :on-change="hendleImageChange"
      action=""
      :auto-upload="false"
    >
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">Перетяните картинку сюда<em> или нажмите</em></div>
      <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
    </el-upload>
    <el-form-item>
      <el-button class="mb" round type="success" @click="centerDialogVisible = true">
        Предпросмотр
      </el-button>
      <el-button
        class="mb"
        native-type="submit"
        type="primary"
        round
        :loading="loading"
      >
        Создать пост
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  export default {
    layout: 'admin',
    middleware: ['admin-auth'],
    head() {
      return {
        title: 'Новый пост'
      }
    },
    data() {
      return {
        image: null,
        loading: false,
        centerDialogVisible: false,
        controls: {
          title: '',
          text: '',
        },
        rules: {
          text: [
            {required: true, message: 'Текст не должо быть пустым', trigger: 'blur'},
            {min: 3, message: 'Длинна минимум 3 символа', trigger: 'blur'}
          ],
          title: [
            {required: true, message: 'Заголовок поста не должо быть пустым', trigger: 'blur'},
            {min: 3, message: 'Длинна минимум 3 символа', trigger: 'blur'}
          ]
        },

      }
    },
    methods: {
      hendleImageChange(file, fileList) {
        this.image = file
      },
      handlePreview(file) {
      },
      onSubmit() {
        this.$refs.form.validate(async valid => {
          if (valid && this.image) {
            this.loading = true
            let formData = {
              title: this.controls.title,
              text: this.controls.text,
              image: this.image
            }
            try {
              await this.$store.dispatch('post/create', formData)
              this.controls.text = this.controls.title = ''
              this.image = null
              this.$refs.upload.clearFiles()
              this.$message.success('Пост создан')
            } catch (e) {
            } finally {
              this.loading = false
            }
          } else {
            this.$message.warning('Форма не валидна')
          }
        })
      }
    }
  }
</script>

<style scoped>
  .mb {
    margin-bottom: 1rem;
  }

  .uploader {
    margin: 1rem 0;
  }

  @media screen and (min-width: 600px) {
    .post{
      width: 600px
    }

    .el-upload-dragger{
      width: 100%
    }
  }


</style>
