<template>
  <div class="analytic"  >
    <el-row>
      <el-col :xl="24">
        <el-card shadow="hover">
          <div slot="header">
            <span>Статистика просмотров</span>
          </div>
          <bar-chart class="cards"
                     title="Количество просмотров"
                     :labels="views.labels"
                     :data="views.data"
          />
        </el-card>
      </el-col>
      <el-col :xl="24">
        <el-card shadow="hover">
          <div slot="header">
            <span>Статистика комментариев</span>
          </div>
          <bar-chart class="cards"
                     title="Количество комментариев"
                     :labels="comments.labels"
                     :data="comments.data"
          />
        </el-card>
      </el-col>
    </el-row>
  </div>


</template>

<script>
  import BarChart from '~/components/chart/bar'

  export default {
    layout: 'admin',
    middleware: ['admin-auth'],
    components: {
      BarChart
    },
    head() {
      return {
        title: 'Графики'
      }
    },
    async asyncData({store}) {
      const {views, comments} = await store.dispatch('post/getAnalytics')
      return {views, comments}
    },

  }
</script>

<style lang="scss" scoped>
  .cards {
    width: 100%;
    height: 32vh;
    position: relative;
  }

  .el-card {
    margin-bottom: 1rem;
  }

  .el-card:hover {
    transform: scale(1);
    box-shadow: 0 5px 18px 0 var(--btn) !important;
  }


</style>
