<template>
  <div>
    <h3>Все посты</h3>
    <div
      class="mobile"
      v-for="post in posts"
      :key="post._id">
      <el-card
        shadow="hover"
        style="width: 100%"
      >
        <div :style="{'background-image': `url(${'/'+post.imageURL})`}" class="card-header">
          <p>{{post.title }}</p>
        </div>
        <tr>
          <td>Дата</td>
          <td>
            <i class="el-icon-time"></i>
            {{ new Date(post.date).toLocaleString()}}
          </td>
        </tr>
        <tr>
          <td>Просмторы</td>
          <td><i class="el-icon-view"></i>
            <span style="margin-left: 2px">{{post.views}}</span>
          </td>
        </tr>
        <tr>
          <td>Комментарии</td>
          <td>
            <i class="el-icon-chat-line-square"></i>
            <span style="margin-left: 2px">{{post.comments.length}}</span></td>
        </tr>
        <tr>
          <td>Операции</td>
          <td>
            <el-button
              style="margin-left: 0px"
              type="primary"
              size="mini"
              icon="el-icon-success"
              @click="open(post._id)">
              Открыть
            </el-button>
            <el-button
              style="margin-left: 0px"
              icon="el-icon-delete"
              size="mini"
              type="danger"
              @click="remove(post._id)">
              Удалить
            </el-button>
          </td>
        </tr>
      </el-card>
    </div>
    <el-table
      class="desktop"
      :data="posts"
      style="width: 100%">
      <el-table-column
        fixed
        prop="title"
        label="Название поста">
      </el-table-column>
      <el-table-column label="Дата" width="200">
        <template slot-scope="{row:{date}}">
          <i class="el-icon-time"></i>
          <span style="margin-left: 10px">{{ new Date(date).toLocaleString()}}</span>
        </template>
      </el-table-column>

      <el-table-column label="Просмотры">
        <template slot-scope="{row:{views}}">
          <i class="el-icon-view"></i>
          <span style="margin-left: 10px">{{views}}</span>
        </template>
      </el-table-column>
      <el-table-column label="Изображение">
        <template slot-scope="{row:{imageURL}}">
          <el-avatar shape="square" :src="`${'/'+imageURL}`"></el-avatar>
        </template>
      </el-table-column>
      <el-table-column label="Комментарии">
        <template slot-scope="{row:{comments}}">
          <i class="el-icon-chat-line-square"></i>
          <span style="margin-left: 10px">{{comments.length}}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="Операции">
        <template slot-scope="{row}">
          <el-button
            class="mobileButton"
            style="margin-left: 0px"
            type="primary"
            size="mini"
            icon="el-icon-success"
            @click="open(row._id)">
            Открыть
          </el-button>
          <el-button
            style="margin-left: 0px"
            icon="el-icon-delete"
            size="mini"
            type="danger"
            @click="remove(row._id)">
            Удалить
          </el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
  export default {
    layout: 'admin',
    middleware: ['admin-auth'],
    async asyncData({store}) {
      let posts = await store.dispatch('post/fetchAdminPosts')
      return {posts}
    },
    head() {
      return {
        title: 'Все посты'
      }
    },
    methods: {
      open(id) {
        this.$router.push('/admin/post/' + id)
      },
      remove(id) {
        try {
          this.$confirm(`Удалить пост?`, 'Внимание!', {
            confirmButtonText: 'ДА',
            cancelButtonText: 'ОТМЕНА',
            type: 'warning'
          }).then(async () => {
            await this.$store.dispatch('post/remove', id)
            this.posts = this.posts.filter(p => p._id !== id)
            this.$message({
              type: 'success',
              message: 'Удален: ' + id
            });
          })
        } catch (e) {
        }
      },
    }
  }
</script>

<style lang="scss" scoped>


  .card-header {
    padding: 4px 20px;
    margin-bottom: 15px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
  }

  .card-header > p {
    border-radius: 5px;
    padding: 6px 15px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .el-card {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 768px) {
    td:nth-child(2n) {
      padding-left: 5px;
    }
    .el-button--mini {
      padding: 7px 8px;
    }
  }

  .el-table th, .el-table tr {
    background-color: var(--btn)!important;
  }

  .hover-row {
    color: var(--btn) !important;
  }


</style>
