<template>
  <div class="empty-layout">
    <el-card
      shadow="always"
      :style="{width:'500px'}"
    >
      <el-form
        shadow
        @submit.native.prevent="onSubmit"
        :model="controls"
        :rules="rules"
        ref="form"
      >
        <h2>Войти в панель администратора</h2>
        <el-form-item label="Ваш логин" prop="login"
        >
          <el-input clearable v-model.trim="controls.login"></el-input>
        </el-form-item>
        <el-form-item label="Пароль" prop="password">
          <el-input clearable show-password type="password" v-model.trim="controls.password"></el-input>
        </el-form-item>
        <el-form-item>
          <div class="bottomBtn">
            <el-button
              native-type="submit"
              type="primary"
              round
              :loading="loading"
            >
              Войти
            </el-button>
            <el-button
              round
              @click="$router.push('/')"
            >
              <i class="el-icon-back" style="font-size: large"></i>
            </el-button>
          </div>
        </el-form-item>

      </el-form>
    </el-card>
  </div>
</template>

<script>
  export default {
    layout: 'empty',
    data() {
      return {
        loading: false,
        controls: {
          login: '',
          password: '',
        },
        rules: {
          login: [
            {required: true, message: 'Логин не должо быть пустым', trigger: 'blur'},
            {min: 3, message: 'Длинна минимум 3 символа', trigger: 'blur'}
          ],
          password: [
            {required: true, message: 'Введите пароль', trigger: 'blur'},
            {min: 6, message: 'Длинна пароля минимум 6 символов', trigger: 'blur'}
          ],
        },

      }
    },
    mounted() {
      let {msg} = this.$route.query
      if (msg === 'login') {
        this.$message({
          showClose: true,
          message: 'Авторизуйтесь в системе',
          type: 'error'
        });
      }
      if (msg === 'session') {
        this.$message({
          showClose: true,
          message: 'Сессия истекла, авторизуйтесь',
          type: 'warning'
        });
      }
    },
    methods: {
      onSubmit() {
        this.$refs.form.validate(async valid => {
          if (valid) {
            this.loading = true
            let formData = {
              login: this.controls.login,
              password: this.controls.password
            }
            try {
              await this.$store.dispatch('baseAuth/login', formData)
              this.$router.push('/admin')
            } catch (e) {
              this.loading = false
            }
          }
        })
      }
    }
  }
</script>

<style scoped>

  .bottomBtn {
    display: flex;
    justify-content: space-between;
  }

  .empty-layout {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 4rem;
  }
  .empty-layout:hover {
    transform: none;
  }
  .el-card {
    transform: scale(1.00)!important;
  }

</style>
