<template>
    <div>Logout</div>
</template>

<script>
  export default {
    layout: 'admin',
    middleware:['admin-auth'],
    beforeCreate() {
      this.$store.dispatch('baseAuth/logout')
      this.$router.push('/admin/login')
    }
  }
</script>

<style scoped>

</style>
