<template>
  <div >
    <el-form
      shadow
      @submit.native.prevent="onSubmit"
      :model="controls"
      :rules="rules"
      ref="form"
      class="post"
    >
      <h3>Создать пользователя</h3>
      <el-form-item label="Ваш логин" prop="login"
      >
        <el-input v-model.trim="controls.login"></el-input>
      </el-form-item>
      <el-form-item label="Пароль" prop="password">
        <el-input v-model.trim="controls.password"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button
          native-type="submit"
          type="primary"
          round
          :loading="loading"
        >
          Создать
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  export default {
    layout: 'admin',
    middleware: ['admin-auth'],
    head() {
      return {
        title: 'Пользователи'
      }
    },
    data() {
      return {
        loading: false,
        controls: {
          login: '',
          password: '',
        },
        rules: {
          login: [
            {required: true, message: 'Логин не должо быть пустым', trigger: 'blur'},
            {min: 3, message: 'Длинна минимум 3 символа', trigger: 'blur'}
          ],
          password: [
            {required: true, message: 'Введите пароль', trigger: 'blur'},
            {min: 6, message: 'Длинна пароля минимум 6 символов', trigger: 'blur'}
          ],
        },

      }
    },
    methods: {
      onSubmit() {
        this.$refs.form.validate(async valid => {
          if (valid) {
            this.loading = true
            let formData = {
              login: this.controls.login,
              password: this.controls.password
            }
            try {
              await this.$store.dispatch('baseAuth/createUser', formData)
              this.$message.success('Пользователь создан')
              this.controls.login = this.controls.password = ''
              this.loading = false
            } catch (e) {
              this.loading = false
            }
          }
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  .empty-layout {
    width: 600px;
  }


  @media screen and (min-width: 600px) {
    .post{
      width: 600px
    }
  }

</style>
