<template>

  <el-card shadow="always" style="margin: 0 0 1rem 0">
    <el-form
      shadow
      @submit.native.prevent="onSubmit"
      :model="controls"
      :rules="rules"
      ref="form"
    >
      <h1>Добавить комментарий</h1>
      <el-form-item label="Ваше имя" prop="name"
                    ref="formName"
      >
        <el-input v-model="controls.name"></el-input>
      </el-form-item>
      <el-form-item label="Текст" prop="text">
        <el-input
          type="textarea"
          v-model="controls.text"
          resize="none"
          :rows="2"
          ref="textarea"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button
          native-type="submit"
          type="primary"
          round
          :loading="loading"
        >
          Добавить
        </el-button>
      </el-form-item>
    </el-form>
  </el-card>

</template>

<script>
  export default {
    props: {
      postId: {
        type: String,
        required: true
      }
    },
    data() {
      return {
        loading: false,
        controls: {
          name: '',
          text: '',
        },
        rules: {
          name: [
            {required: true, message: 'Имя не должо быть пустым', trigger: 'blur'},
            {min: 3, message: 'Длинна минимум 3 символа', trigger: 'blur'}
          ],
          text: [
            {required: true, message: 'Введите ваш комментарий', trigger: 'blur'},
          ],
        },

      }
    },
    methods: {
      onSubmit() {
        this.$refs.form.validate(async valid => {
          if (valid) {
            this.loading = true
            let formData = {
              name: this.controls.name,
              text: this.controls.text,
              postId: this.postId
            }
            try {
              const comment = await this.$store.dispatch('comment/create', formData)
              this.$message({
                showClose: true,
                message: 'Комментарий добавлен',
                type: 'success'
              });
              this.$emit('created', comment)
              this.controls.name = this.controls.text = ''
              this.loading = false
            } catch (e) {
              this.loading = false
            }
          }
        })
      },
    }
  }
</script>

<style scoped lang="scss">
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

</style>
