<template>
  <el-dropdown @command="handleCommand" class="mobilenav" hide-on-click trigger="click">
    <el-button plain>
      <strong>☰ Меню<i class="el-icon-arrow-down el-icon--right"></i></strong>
    </el-button>
    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item command="/admin">
        <i class="el-icon-menu"></i>
        <span>Аналитика</span>
      </el-dropdown-item>
      <el-dropdown-item command="/admin/create">
        <i class="el-icon-edit-outline"></i>
        <span>Создать</span>
      </el-dropdown-item>
      <el-dropdown-item command="/admin/list">
        <i class="el-icon-document-copy"></i>
        <span>Посты</span>
      </el-dropdown-item>
      <el-dropdown-item command="/admin/comments">
        <i class="el-icon-chat-line-square"></i>
        <span>Комментарии</span>
      </el-dropdown-item>
      <el-dropdown-item command="/admin/user">
        <i class="el-icon-user"></i>
        <span>Пользователи</span>
      </el-dropdown-item>
      <el-dropdown-item command="/admin/logout">
        <i class="el-icon-setting"></i>
        <span>Выйти</span>
      </el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>

</template>

<script>
  export default {
    methods: {
      handleCommand(command) {
        this.$router.push(command);
      }
    }
  }
</script>
<style lang="scss" scoped>


  li.el-dropdown-menu__item{
    color: var(--color)!important;
  }

  li.el-dropdown-menu__item:focus,  li.el-dropdown-menu__item:hover{
      color: var(--color)!important;
    background-color: var(--admin-side)!important;
    border: 1px solid var(--btn) !important;
  }


</style>
