<template>
  <div>
    <nav>
      <el-dropdown trigger="click">
        <el-button plain>
          <strong><i class="el-icon-search" style="margin-right: 5px; position: relative"></i>Поиск</strong>
        </el-button>
        <el-dropdown-menu slot="dropdown" class="dropdown" hide-on-click
        >
          <div style="margin: 0 12px;">
            <div>
              <p>
                <i class="el-icon-question" style="color: #67C23A;"></i>
                Давайте найдем публикацию ?
              </p>
              <el-input
                placeholder="Введите название горы"
                v-model="state1"
                clearable
                @input="querySearch"
                style="margin-bottom: 0.2rem"
              >
              </el-input>

              <el-dropdown-item v-for="item in state2"
                                :key="item._id">
                <table @click="handleSelect(item)">
                  <tr>
                    <td rowspan="2">
                      <img :src="`/${item.imageURL}`" class="image"></td>
                  </tr>
                  <tr>
                    <p class="searchTitle">{{item.value}}</p>
                    <p class="searchDescription">{{item.text}}</p>
                  </tr>
                </table>
              </el-dropdown-item>
            </div>
          </div>
        </el-dropdown-menu>
      </el-dropdown>
      <h1 class="logo desktop" @click="toHome()" > SSR Блог про горы </h1>
      <div class="switch">
        <el-switch
          v-model="makeColor"
          :active-value="'dark'"
          :inactive-value="'system'"
          active-color="#2196F3"
          inactive-color="#13ce66"
          inactive-icon-class="el-icon-moon"
          active-icon-class="el-icon-sunny"
        >
        </el-switch>
        <el-button plain @click="openAdmin()">
          <strong><i class="el-icon-user el-icon--left"></i>Кабинет</strong>
        </el-button>
      </div>
    </nav>
    <div class="logo-mobile mobile" @click="toHome()">
      <h3 class="header-mobile">SSR Блог про горы</h3>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        value1: 0,
        makeColor: 'system',
        search: '',
        state1: '',
        state2: [],
        posts: [],
        links: [],
        dropdownVisible: true,
        clickCount: 0
      };
    },
    async fetch() {
      let list = []
      let data = await this.$store.dispatch('post/fetchPosts')
      data.forEach(element => {
        list.push({
          'value': element.title,
          'imageURL': element.imageURL,
          'link': element._id,
          'text': element.text,
        })
      });
      this.links = list
    },
    watch: {
      makeColor(value) {
        this.$store.dispatch('color/setColor', value)
        this.$colorMode.preference = this.$store.getters['color/color']
      },
    },
    mounted() {
      this.makeColor = this.$store.getters['color/color']
    },
    methods: {
      openAdmin() {
        this.$router.push('/admin')
      },
      toHome(){
        this.$router.push('/')
      },
      querySearch(queryString) {
        if (queryString !== '') {
          let links = this.links;
          let results = queryString ? links.filter(this.createFilter(queryString)) : links;
          this.state2 = results
        }
      },
      createFilter(queryString) {
        return (link) => {
          return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
      },
      handleSelect(item) {
        let id = item.link
        this.$router.push(`/post/${id}`);
      },
    },
    fetchOnServer: false
  }
</script>
<style lang="scss" scoped>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid #e6e6e6;
  }

  .dropdown {
    max-width: 600px;
  }

  .searchTitle {
    padding: 0 10px;
    font-size: 14px;
    margin: 6px 0;
    line-height: 1.8;
  }

  .searchDescription {
    text-overflow: ellipsis;
    padding: 0 10px;
    overflow: hidden;
    width: 225px;
    white-space: nowrap;
    margin: 0;
    cursor: pointer;
    color: #606266;
    font-size: 12px;
    list-style: none;
  }

  .image {
    width: 88px;
    height: auto;
    display: block;
  }

  .el-button {
    margin: 0px 10px;
    display: flex
  }

  .switch {
    justify-content: flex-end;
    display: flex;
  }

  .el-dropdown-menu__item {
    padding: 0px 0px 0px 0px;

  }

  .el-switch {
    height: auto;
  }

  .buttonClose {
    margin: 10px 0 0 0;
  }

  .logo-mobile {
    width: 100%;
    display: flex;
    height: 7rem;
    z-index: 998;
    position: fixed;
    background-color: var(--bg-nav);
  }

  .header-mobile {
    display: flex;
    align-items: flex-end;
    flex: 1 0 auto;
    justify-content: center;
  }

  @media screen and (max-width: 450px) {
    .logo {
      text-align: center;
      font-size: calc((100vw - 40rem) / (80 - 30) * (1.5 - 1) + 1rem);
    }
  }

  @media screen and (max-width: 600px) {
    .desktop {
      display: none !important;
    }
    .mobile {
      display: flex !important;
    }
  }

  @media screen and (min-width: 600px) {
    .mobile {
      display: none;
    }
  }

  nav {
    position: fixed;
    height: 3.5rem;
    width: 100%;
    z-index: 9999;
  }

  .logo {
    display: block;
    position: absolute;
    top: 16%;
    right: 50%;
    transform: translate(50%, -50%);
  }
</style>
