<template>
  <el-card shadow="hover" class="post" :body-style="{ padding: '0px' }">
    <header class="post-header">
      <h4>
        {{post.title}}
      </h4>
      <small>
        <i class="el-icon-time"></i>
        {{ new Date(post.date).toLocaleString() }}
      </small >
    </header>
    <div class="post-body">
      <img
        :src="post.imageURL"
        class="post-img"
      />
    </div>
    <footer class="post-footer">
      <el-button round @click="openPost">Открыть</el-button>
      <span>
        <i class="el-icon-chat-line-square">
          {{post.comments.length}}
        </i>
      </span>
    </footer>
  </el-card>
</template>

<script>
  export default {
    props:{
      post:{
        type: Object,
        required:true
      },

    },
    methods: {
      openPost() {
        let id = this.post._id
        this.$router.push(`/post/${id}`);
      }
    }
  };
</script>

<style lang="scss" scoped>
  .post {
    // height: 200px;
    // border: 1px solid black;
    margin-bottom: 1.5rem;
  }

  .el-card__body {
    margin: 0px;
    padding: 0px;
  }

  .post-img {
    width: 100%;
    height: auto;
  }

  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .post-header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



</style>
