<template>
  <el-menu
    router
    :style="{height: '100%'}"
    :default-active="$route.path"
  >
    <el-menu-item index="/admin">
      <i class="el-icon-menu"></i>
      <span>Аналитика</span>
    </el-menu-item>
    <el-menu-item index="/admin/create">
      <i class="el-icon-edit-outline"></i>
      <span>Создать</span>
    </el-menu-item>
    <el-menu-item index="/admin/list">
      <i class="el-icon-document-copy"></i>
      <span>Посты</span>
    </el-menu-item>
    <el-menu-item index="/admin/comments">
      <i class="el-icon-chat-line-square"></i>
      <span>Комментарии</span>
    </el-menu-item>
    <el-menu-item index="/admin/user">
      <i class="el-icon-user"></i>
      <span>Пользователи</span>
    </el-menu-item>
    <el-menu-item index="/admin/logout">
      <i class="el-icon-setting"></i>
      <span>Выйти</span>
    </el-menu-item>
  </el-menu>
</template>

<script>
  export default {}
</script>

<style scoped>
  .el-menu-item:focus, .el-menu-item:hover{
    color: var(--color)!important;
    background-color: var(--admin-side)!important;
    border: 1px solid var(--btn) !important;
  }

</style>
