.text-center {
  text-align: center;
}

.el-upload__tip {
  display: none;
}

.el-upload-dragger {
  padding: 0px 7px 0px 8px;
  width: 100%;
}

/* Анимации появления и исчезновения могут иметь */
/* различные продолжительности и динамику.       */
.page-enter-active {
  transition: all .12s ease;
}

.page-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.page-enter, .page-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */
{
  transform: translateX(10px);
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex !important;
  }
}

@media screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
}

:root {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #253444;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --bg-p: #071521;
  --bg-nav: #2f495e;
  --border-bottom: none;
  //button
  --btn: #071521ad;
  //admin-side
  --admin-side: #2f495e
}

.dark-mode {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #fff;
  --bg-secondary: #fff;
  --border-color: #fff;
  --bg-nav: #fff;
  //text
  --bg-p: #071521;
  --border-bottom: 1px solid #e6e6e6;
  //button
  --btn: #DCDFE6;
  //admin-side
  --admin-side: rgb(217, 236, 255);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

nav {
  background-color: var(--bg-nav);
  border: var(--border-bottom) !important;
  border-bottom: var(--border-bottom) !important;
}

.el-card {
  background-color: var(--bg-nav);
  border: var(--border-bottom) !important;
  border-bottom: var(--border-bottom) !important;
}


nav > button {
  color: var(--color) !important;
  background-color: var(--bg) !important;
  border: 1px solid var(--btn) !important;
}

nav > div > button {
  color: var(--color) !important;
  background-color: var(--bg) !important;
  border: 1px solid var(--btn) !important;
}


ul {
  color: var(--color) !important;
  background-color: var(--bg) !important;
  border: 1px solid var(--btn) !important;
}

.el-upload-list, .el-aside > ul {
  overflow: auto;
  border: none !important;
  border-right: 1px solid var(--btn) !important;
}

.el-card, .el-message, .el-popover {
  color: var(--color) !important;
  background-color: var(--bg-nav) !important;
  border: 1px solid var(--btn) !important;
}

.el-card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 18px 0 var(--btn) !important;
}

.el-dropdown-menu__item > table:hover {
  background-color: var(--admin-side) !important;
}

.el-main > div > .el-table > tr {
  color: var(--color) !important;
  background-color: var(--bg) !important;
  border: 1px solid var(--btn) !important;
}

.el-main > div > .el-table > th {
  color: var(--color) !important;
  background-color: var(--bg) !important;
}

.el-table tr {
  color: var(--color) !important;
  background-color: var(--bg) !important;
  border: 1px solid var(--btn) !important;

}

.el-table th {
  color: var(--color) !important;
  background-color: var(--bg) !important;
}

.hover-row > td {
  background-color: var(--admin-side) !important;
}

.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  color: var(--color) !important;
}


p, .el-form-item__label, .el-menu-item {
  color: var(--color) !important;
}

a {
  color: var(--color-primary);
}

//.el-tree
.el-tree {
  position: relative;
  cursor: default;
  color: var(--color) !important;
  background-color: var(--bg) !important;
}

.el-tree-node:focus > .el-tree-node__content {
  background-color: var(--admin-side) !important;
}

.el-tree-node__content:hover {
  background-color: var(--admin-side) !important;
}

.el-tree-node__loading-icon {
  margin-right: 8px;
  font-size: 14px;
  color: var(--color) !important;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: var(--bg) !important;
}

.el-switch__label.is-active {
  color: #d9d92e;
}


.mobilenav > button {
  color: var(--color) !important;
  background-color: var(--bg) !important;
  border: 1px solid var(--btn) !important;
}



