<template>
  <article>
    <el-breadcrumb separator-class="el-icon-arrow-right" class="mb">
      <el-breadcrumb-item :to="{ path: '/admin' }">Админка</el-breadcrumb-item>
      <el-breadcrumb-item :to="{ path: '/admin/list' }">Посты</el-breadcrumb-item>
      <el-breadcrumb-item>{{$route.params.id}}</el-breadcrumb-item>
    </el-breadcrumb>
    <el-dialog
      title="Предпросмотр"
      :visible.sync="centerDialogVisible"
      center
    >
      <img :src="imageUrl ? imageUrl : `${'/'+imageUrlBeforeLoaded}`" class="avatar">
      <div :key="controls.text">
        <vue-markdown>{{controls.text}}</vue-markdown>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="centerDialogVisible = false">Продолжить</el-button>
      </span>
    </el-dialog>
    <el-form
      class="post"
      shadow
      @submit.native.prevent="onSubmit"
      :model="controls"
      :rules="rules"
      ref="form"
    ><h2>{{posts.title}}</h2>
      <el-upload
        action=""
        class="avatar-uploader"
        :show-file-list="false"
        :on-success="handleAvatarSuccess"
        :before-upload="beforeAvatarUpload">
        <img v-if="imageUrl" :src="imageUrl" class="avatar">
        <i v-if="iconUpload" class="el-icon-plus avatar-uploader-icon iconUpload"
           :style="{'background-image': `url(${'/'+imageUrlBeforeLoaded})`}"></i>
      </el-upload>
      <el-form-item label="Заголовок" prop="text">
      </el-form-item>
      <el-input clearable v-model.trim="controls.title"
      ></el-input>
      <el-form-item label="Текст в формате .md или .html" prop="text"
      >
        <el-input v-model.trim="controls.text"
                  type="textarea"
                  resize="none"
                  :rows="10"
        ></el-input>
      </el-form-item>
      <div class="mb">
        <small>
          <i class="el-icon-time"></i>
          <span>{{ new Date(posts.date).toLocaleString()}}</span>
        </small>
        <small class="mr">
          <span>{{posts.views}}</span>
          <i class="el-icon-view"></i>
        </small>
      </div>
      <el-form-item>
        <el-button class="mb" round type="success" @click="centerDialogVisible = true">
          Предпросмотр
        </el-button>
        <el-button
          class="mb"
          native-type="submit"
          type="primary"
          round
          :loading="loading"
        >
          Обновить
        </el-button>
      </el-form-item>
    </el-form>
  </article>
</template>

<script>
  export default {
    layout: 'admin',
    middleware: ['admin-auth'],
    async asyncData({store, params}) {
      let posts = await store.dispatch('post/fetchAdminPostById', params.id)
      return {posts}
    },
    data() {
      return {
        imageUrl: '',
        imageUrlBeforeLoaded: '',
        title: '',
        image: null,
        iconUpload: true,
        centerDialogVisible: false,
        loading: false,
        controls: {
          text: '',
          title: '',
        },
        rules: {
          text: [
            {required: true, message: 'Текст не должо быть пустым', trigger: 'blur'},
            {min: 3, message: 'Длинна минимум 3 символа', trigger: 'blur'}
          ]
          , title: [
            {required: true, message: 'Заголвок не должо быть пустым', trigger: 'blur'},
            {min: 3, message: 'Длинна заголовка минимум 3 символа', trigger: 'blur'}
          ]
        },

      }
    },
    mounted() {
      this.controls.text = this.posts.text
      this.controls.title = this.posts.title
      this.imageUrlBeforeLoaded = this.posts.imageURL
    },
    methods: {
      handleAvatarSuccess(res, file) {
        this.imageUrl = URL.createObjectURL(file.raw);
        this.image = file
        this.iconUpload = false
      },
      beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          this.$message.error('Картинка должна быть в формате JPG!');
        }
        if (!isLt2M) {
          this.$message.error('Размер не более 2mb!');
        }
        return isJPG && isLt2M;
      },


      onSubmit() {
        this.$refs.form.validate(async valid => {
          if (valid) {
            this.loading = true
            const formData = {
              text: this.controls.text,
              title: this.controls.title,
              id: this.$route.params.id,
              image: this.image
            }
            try {
              await this.$store.dispatch('post/update', formData)
              this.$message.success('Пост обновлен')
              this.loading = false
            } catch (e) {
              this.loading = false
            }
          }
        })
      }
    },
    components: {},
    validate({params}) {
      return Boolean(params.id)
    }
  }
</script>
<style lang="scss" scoped>
  .mb {
    margin-bottom: 1rem;
  }

  .mr {
    margin-left: 2rem;
  }

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    /*color: #8c939d;*/
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }

  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }

  .iconUpload {
    background-position: center;
    background-size: cover;
    border-radius: 5px;
  }

  @media screen and (min-width: 600px) {
    .post {
      width: 600px
    }
  }




</style>
