<template>
  <el-container class="layout-wrap">
    <el-container class="desktop">
      <el-header><h3>Админ панель</h3></el-header>
      <el-container :style="{height:'100%'}">
        <el-aside width="235px">
          <app-side></app-side>
        </el-aside>
        <el-main>
          <nuxt></nuxt>
        </el-main>
      </el-container>
    </el-container>

    <el-container class="mobile">
      <el-container>
        <el-header>
          <h3>Админ панель</h3>
          <mobile-nav></mobile-nav>
        </el-header>
        <el-main>
          <nuxt></nuxt>
        </el-main>
      </el-container>
    </el-container>
  </el-container>
</template>

<script>
  import AppSide from '../components/main/Side'
  import MobileNav from '../components/main/MobileNavigation'

  export default {
    components: {AppSide, MobileNav},
    computed: {
      error() {
        return this.$store.getters.error
      }
    },
    watch: {
      error(value) {
        this.$message({
          showClose: true,
          message: value.response.data.message,
          type: 'error'
        });
     }
    }


  }
</script>

<style scoped>

  header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-nav);
    border: var(--border-bottom) !important;
    border-bottom: var(--border-bottom) !important;
  }


  .layout-wrap {
    width: 100%;
    height: 100vh;
  }




</style>
