<template>
  <el-container>
    <AppNav/>
    <el-main>
      <nuxt />
    </el-main>
    <el-footer></el-footer>
  </el-container>
</template>


<script>
import AppNav from '../components/main/Navigation'

export default {

  components:{
    AppNav
  }
}
</script>

<style scoped>
  .el-main{
    margin-top: 3.3rem;
  }
  @media screen and (max-width: 600px) {
    .el-main{
      padding-top: 4.9rem !important;
    }
  }
</style>
