<template>
  <div class="empty-layouts">
    <nuxt></nuxt>
  </div>
</template>

<script>
  export default {
    computed: {
      error() {
        return this.$store.getters.error
      }
    },
    watch: {
      error(value) {
        this.$message({
          showClose: true,
          message: value.response.data.message,
          type: 'error'
        });
      }
    }
  }
</script>

<style scoped lang="scss">
  .empty-layouts {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 4rem;
  }
</style>
