<template>
  <div class="error-layout">
    <div class="error-content">
      <h1>Не найдено 404</h1>
    </div>
    <div class="error-back">
      <nuxt-link to="/" >
        <el-button round>
          <span class="el-icon-back">Назад</span>
        </el-button>
      </nuxt-link>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .error-layout{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column
  }
  .error-content{
    color: #ff544a;
  }
</style>
