<script>
  import {Bar} from 'vue-chartjs'

  export default {
    extends: Bar,
    props: {
      labels: {
        type: Array,
        default() {
          return []
        }
      },
      data: {
        type: Array,
        default() {
          return []
        }
      },
      title: String
    },
    mounted() {
      let background, border,textColor
      if(this.$colorMode.preference === 'dark'){
        textColor = '#0e2233'
      }else{
        textColor = '#fff'
      }
      if (this.title === 'Количество просмотров') {
        background = [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ]
        border = [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ]
      } else {
        background = [
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)'
        ]
        border = [
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)'
        ]
      }

      const data = {
        labels: this.labels,
        legend: {
          fontColor: textColor
        },
        datasets: [{
          label: this.title,
          data: this.data,
          backgroundColor: background,
          borderColor: border,
          borderWidth: 1
        }]
      }
      const options = {
        legend: {
          labels: {
            fontColor: textColor
          }
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              fontColor: textColor
            }
          }],
          xAxes: [{
            ticks: {
              fontColor: textColor
            }
          }],

        },
        responsive: true,
        maintainAspectRatio: false
      }
      this.renderChart(data, options)
    },
  }
</script>

<style scoped>



</style>
